<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <title>Go-4-Fit | Contactos</title>
</head>
<body>

    <header id="body-header">
        <nav id="nav-bar">
            <div class="container">
                <h1 class="logo1"><a href="index.html">GO-4<span id="text-gray">-Fit</span></a></h1>
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="nosotros.html">Nosotros</a></li>
                    <li><a href="servicios.html">Servicios</a></li>
                    <li><a class="current" href="contacto.html">Contacto</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section id="contact">
        <div class="container">
            <h2>Contactanos</h2>
            <form>
                <div class="form-group">
                    <label id="name">Nombre</label>
                    <input class="form-control" type="text">
                </div>
                <div class="form-group">
                    <label id="email">Email</label>
                    <input class="form-control" type="email">
                </div>
                <div class="form-group">
                    <label id="message">Mensaje</label>
                    <textarea class="form-control" name="message" cols="30"></textarea>
                </div>
                <button class="btn btn-dark">Enviar</button>
            </form>
        </div>
    </section>

    <footer id="main-footer"> 
        <a href="https://www.tiktok.com/@j_cord18?_t=8f25HcR7zZw&_r=1"><i class="fa-brands fa-tiktok"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100010402808950"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/ftness_life/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/julio-cordero-guzman-3b873217b/"><i class="fab fa-linkedin"></i></a>
    </footer>
</body>
</html>