<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <title>Go-4-Fit | Sobre nosotros</title>
</head>
<body>

    <header id="body-header">
        <nav id="nav-bar">
            <div class="container">
                <h1 class="logo1">Go-4<span id="text-gray">-Fit</span></h1>
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a class="current" href="nosotros.html">Nosotros</a></li>
                    <li><a href="servicios.html">Servicios</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </div>
        </nav>
    </header>
        
    <section id="about">
        <div class="container">
            <h2>Sobre Nosotros</h2>
            <div class="about-left">
                 <p class="large">Nosotros, en Fitness Training, somos un equipo apasionado
                 comprometido que se dedica a ayudar a las personas a alcanzar sus objetivos de bienestar físico.</p>
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Nulla eveniet tenetur quaerat porro numquam iusto eligendi at ad aliquid 
                 Nulla eveniet tenetur quaerat porro numquam iusto eligendi at ad aliquid toner
                 porro niusto eligendi at ad aliquid tonerumquam</p> 
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, consequuntur.
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, consequuntur aliquid
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, consequuntur.
                 Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>     
                 </div>
                 <div class="about-right">
                <p>Nosotros, en Fitness Training, somos un equipo apasionado
                comprometido que se dedica a ayudar a las personas.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nulla eveniet tenetur quaerat</p> 
                <p>Nulla eveniet tenetur quaerat porro numquam iusto eligendi at ad aliquid toner
                porro niusto eligendi at ad aliquid tonerumquam lorun setun
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, consequuntur.
                Lorem ipsum dolor sit amet</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Hic, consequuntur.
                Lorem ipsum dolor sit amet consectetur adipisicing elit Hic, consequuntur aliquid
                Lorem ipsum dolor sit amet consectetur adipisicing elit Hic, consequuntur
                Lorem ipsum dolor sit amet consectetur adipisicing elit Hic, consequuntur aliquid
                consectetur adipisicing elit.</p>  
            </div>
        </div>
    </section>

   <footer id="main-footer">
    <a href="https://www.tiktok.com/@j_cord18?_t=8f25HcR7zZw&_r=1"><i class="fa-brands fa-tiktok"></i></a>
    <a href="https://www.facebook.com/profile.php?id=100010402808950"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.instagram.com/ftness_life/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/julio-cordero-guzman-3b873217b/"><i class="fab fa-linkedin"></i></a>
   </footer> 
  
    <script src="./script/javasc.js"></script>
</body>
</html>