<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <title>Go-4-Fit | Servicios</title>
</head>
<body>

    <header id="body-header">
        <nav id="nav-bar">
            <div class="container">
                <h1 class="logo1"><a href="index.html">Go-4<span id="text-gray">-Fit</span></a></h1>
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="nosotros.html">Nosotros</a></li>
                    <li><a class="current" href="servicios.html">Servicios</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </div>
        </nav>
    </header>
        
    <section id="services">
        <div class="container">
            <h2>Nuestros Servicios</h2>
            <div class="services-row">
                <div class="services-box">
                    <h3>Entrenadores</h3>
                    <img src="../assets/images/entrenador.1.jpg" width="600" height="315" alt="entrenador personal">
                    <p>Nosotros, en Fitness Training, somos un equipo apasionado y comprometido
                    que se dedica a ayudar a las personas a alcanzar sus objetivos de bienestar físico. 
                    Nos enorgullece ofrecer programas de entrenamiento personalizados y
                    orientados hacia resultados para personas de todas las edades y niveles de condición física.</p>
                </div>
                <div class="services-box">
                    <h3>Clases grupales</h3>
                    <img src="../assets/images/istockphoto-918931260-612x612.jpg" width="612" height="408" alt="classes spinning">
                    <p>Nosotros, en Fitness Training, somos un equipo apasionado y comprometido
                    que se dedica a ayudar a las personas a alcanzar sus objetivos de bienestar físico. 
                    Nos enorgullece ofrecer programas de entrenamiento personalizados y
                    orientados hacia resultados para personas de todas las edades y niveles de condición física.</p>
                </div>
                <div class="services-box">
                    <h3>Kickboxing</h3>
                    <img src="../assets/images/kickboxing.photo.png" width="612" height="443" alt="kickboxing">
                    <p>Nosotros, en Fitness Training, somos un equipo apasionado y comprometido
                    que se dedica a ayudar a las personas a alcanzar sus objetivos de bienestar físico. 
                    Nos enorgullece ofrecer programas de entrenamiento personalizados y
                    orientados hacia resultados para personas de todas las edades y niveles de condición física.</p>
                </div>
            </div> 
        </div>
    </section>

    <footer id="main-footer">
        <a href="https://www.tiktok.com/@j_cord18?_t=8f25HcR7zZw&_r=1"><i class="fa-brands fa-tiktok"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100010402808950"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/ftness_life/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/julio-cordero-guzman-3b873217b/"><i class="fab fa-linkedin"></i></a>
   </footer> 

    <script src="../script/javasc.js"></script>
</body>
</html>